/* parar llamar a imagenes coloco el key = la funsion (el nombre);
ejemplo background-image: img(casa. jpg)*/
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.newsletter {
  background-color: #0c0910;
  color: #ffffff;
}
.newsletter label {
  display: block;
}

.subcribtion {
  background-color: red;
  writing-mode: vertical-lr;
  padding: 0.5rem;
}

.we-us {
  background-color: aqua;
}

.main {
  /*   height: 800px;
     background-image: url('../img/hero.jpg'); 
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: block;
     float: right;*/
}
.main--tmn img {
  width: 100%;
  height: auto;
}

.container_grid {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  /* no hace aporte padding-right:15px;*/
}

@media only screen and (min-width: 768px) {
  .container_grid {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container_grid {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container_grid {
    width: 1770px;
  }
}
.row_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col_grid-xs-12 {
  grid-column: span 12;
}

.col_grid-xs-11 {
  grid-column: span 11;
}

.col_grid-xs-10 {
  grid-column: span 10;
}

.col_grid-xs-9 {
  grid-column: span 9;
}

.col_grid-xs-8 {
  grid-column: span 8;
}

.col_grid-xs-7 {
  grid-column: span 7;
}

.col_grid-xs-6 {
  grid-column: span 6;
}

.col_grid-xs-5 {
  grid-column: span 5;
}

.col_grid-xs-4 {
  grid-column: span 4;
}

.col_grid-xs-3 {
  grid-column: span 3;
}

.col_grid-xs-2 {
  grid-column: span 2;
}

.col_grid-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col_grid-sm-12 {
    grid-column: span 12;
  }

  .col_grid-sm-11 {
    grid-column: span 11;
  }

  .col_grid-sm-10 {
    grid-column: span 10;
  }

  .col_grid-sm-9 {
    grid-column: span 9;
  }

  .col_grid-sm-8 {
    grid-column: span 8;
  }

  .col_grid-sm-7 {
    grid-column: span 7;
  }

  .col_grid-sm-6 {
    grid-column: span 6;
  }

  .col_grid-sm-5 {
    grid-column: span 5;
  }

  .col_grid-sm-4 {
    grid-column: span 4;
  }

  .col_grid-sm-3 {
    grid-column: span 3;
  }

  .col_grid-sm-2 {
    grid-column: span 2;
  }

  .col_grid-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col_grid-md-12 {
    grid-column: span 12;
  }

  .col_grid-md-11 {
    grid-column: span 11;
  }

  .col_grid-md-10 {
    grid-column: span 10;
  }

  .col_grid-md-9 {
    grid-column: span 9;
  }

  .col_grid-md-8 {
    grid-column: span 8;
  }

  .col_grid-md-7 {
    grid-column: span 7;
  }

  .col_grid-md-6 {
    grid-column: span 6;
  }

  .col_grid-md-5 {
    grid-column: span 5;
  }

  .col_grid-md-4 {
    grid-column: span 4;
  }

  .col_grid-md-3 {
    grid-column: span 3;
  }

  .col_grid-md-2 {
    grid-column: span 2;
  }

  .col_grid-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col_grid-lg-12 {
    grid-column: span 12;
  }

  .col_grid-lg-11 {
    grid-column: span 11;
  }

  .col_grid-lg-10 {
    grid-column: span 10;
  }

  .col_grid-lg-9 {
    grid-column: span 9;
  }

  .col_grid-lg-8 {
    grid-column: span 8;
  }

  .col_grid-lg-7 {
    grid-column: span 7;
  }

  .col_grid-lg-6 {
    grid-column: span 6;
  }

  .col_grid-lg-5 {
    grid-column: span 5;
  }

  .col_grid-lg-4 {
    grid-column: span 4;
  }

  .col_grid-lg-3 {
    grid-column: span 3;
  }

  .col_grid-lg-2 {
    grid-column: span 2;
  }

  .col_grid-lg-1 {
    grid-column: span 1;
  }
}
.navegation {
  position: relative;
}
.navegation__logo {
  position: absolute;
  top: 0.9rem;
  left: 2.5rem;
}
.navegation__container {
  min-height: 0;
  padding: 0;
  overflow: hidden;
}
.navegation__list {
  list-style: none;
}
.navegation__item a {
  display: block;
  text-align: left;
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: red;
}
.navegation__item a:hover {
  color: blue;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem;
}

#menu {
  display: none;
}

input:checked ~ .navegation__container {
  max-height: 100%;
}

.tmn_logo img {
  width: 30%;
}

@media only screen and (min-width: 992px) {
  .navegation__logo {
    top: 1em;
    left: 3em;
  }
  .navegation__container {
    min-height: 100%;
    padding: 0.5em 3em 0.5em 0;
    overflow: visible;
  }
  .navegation__list {
    display: flex;
    justify-content: flex-end;
    padding: inherit;
    margin: inherit;
  }
  .navegation__item a {
    padding: 0.5em 1em;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: green;
  }
  .navegation__item a:hover {
    color: yellow;
  }

  .collapsible label {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
