
@media only screen and (min-width: 768px){
   
    .main{
        display:none;
    }
    .main--xs{
        display:block;
    }
}

.main{
    display: block;
    height: auto;
    background-image: url('../img/hero.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.main--xs{
    display: none;
    height: 10rem;
    background-image: url('../img/hero.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}