.navegation{
    position: relative;

    &__logo{
        position: absolute;
        top: .9rem;
        left: 2.5rem;
    }

    &__container{
        min-height: 0;
        padding: 0;
        overflow: hidden;

    }

    &__list{
        list-style: none;
    }

    &__item{

        a{
            display: block;
            text-align: left;
            padding: .5em;
            font-family: $raleway;
            font-size: 1.2rem;
            text-decoration: none;
            color:red;
        }

        a:hover{
            color: blue;   
        }

    }
}

.collapsible{
    text-align: right;

    label{
        display: block;
       // segun yo padding: .5rem 1.5rem .5rem 0;
       padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 1.5rem;
        font-size: $small;
    }
}


#menu{
    display: none;
}

input:checked ~ .navegation__container{
     max-height: 100%;
}

.tmn_logo img{
    width: 30%;
}

@media only screen and (min-width:992px){

    .navegation{
        &__logo{
            top: 1em;
            left: 3em;
        }
    
        &__container{
            min-height: 100%;
            padding: .5em 3em .5em 0;
            overflow: visible;
    
        }
    
        &__list{
            display: flex;
            justify-content: flex-end;
            padding: inherit;
            margin: inherit;
        }
    
        &__item{
            a{
                padding: .5em 1em;
                font-family: $raleway;
                font-size:$medium;
                color: green;
            }
    
            a:hover{
                color:yellow;   
            }
    
        }
    }

    .collapsible{
        label{
            display: none;
        }
    }
}